* {
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-and-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ciao {
  font-size: 70px;
}

.liam {
  font-size: 40px;
}

.mountains-icon {
  height: 400px;
  padding-bottom: 30px;
  margin-left: 50px;
}

.intro-info {
  width: 60%;
  line-height: 40px;
  text-align: center;
  font-size: larger;
}

.sign {
  padding-top: 60px;
  height: 250px;
}

.signs {
  overflow: hidden;
}

.case-studies {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 105vh;
  background-color: rgb(141, 176, 154);
}

.case-study-mountain {
  margin-top: 100px;
  width: 80%;
}

.case-studies,
.iterative-design,
.personas,
.development {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-studies h1,
.iterative-design h1,
.personas h1,
.development h1 {
  font-size: xx-large;
  margin-top: 50px;
}

.iterative-design img {
  width: 800px;
}

.given-info,
.fonda-sketches,
.fonda-wireframes,
.fonda-high {
  display: flex;
  flex-direction: row;
  margin: 100px;
  align-items: center;
  box-shadow: 5px 5px 5px rgb(73, 73, 73);
}

.iterative-design h2 {
  margin-top: 50px;
}

.given-info p,
.fonda-sketches p,
.fonda-wireframes p,
.fonda-high p {
  margin: 10px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(73, 73, 73);
}

.fonda-intro {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(141, 176, 154);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(73, 73, 73);
  width: 70%;
}

.fonda-conclusion {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  background-color: rgb(141, 176, 154);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(73, 73, 73);
  width: 70%;
}

.given-info,
.fonda-sketches,
.fonda-wireframes,
.fonda-high {
  margin: 40px;
  padding: 30px;
  background-color: rgb(141, 176, 154);
  border-radius: 10px;
}

.personas {
  background-color: rgb(141, 176, 154);
}

.personas img {
  height: 450px;
  margin-left: 30px;
  margin-right: 30px;
}

.personas div {
  padding: 20px;
  margin: 40px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(73, 73, 73);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.personas .persona-interviews {
  display: flex;
  flex-direction: column;
}

.persona-abt {
  width: 450px;
}

.persona-comparison p {
  background-color: white;
}

.persona-storyboard img {
  height: 175px;
}

.persona-choice p {
  width: 500px;
}

.persona-sketch p {
  width: 300px;
}

.person {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.person h3 {
  color: #333;
  margin-top: 0;
}

.personas div p {
  text-align: center;
  background-color: rgb(141, 176, 154);
  border-radius: 10px;
  padding: 10px;
}

.personas-intro {
  text-align: center;
}

.personas .persona-storyboard {
  flex-direction: column;
}

.personas .persona-storyboard div {
  flex-direction: column;
  box-shadow: none;
}

.personas .persona-storyboard div p {
  margin-top: 40px;
}

.development {
}

.development div {
  padding: 20px;
  margin: 40px;
  border-radius: 10px;
  background-color: rgb(141, 176, 154);
  box-shadow: 5px 5px 5px rgb(73, 73, 73);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.development img {
  width: 800px;
  margin-left: 40px;
}
.development div p {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 30px;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  background-color: white;
}
th {
  background-color: #33a161;
  color: #ffffff;
}
